# Python-specifika uteslutningar
__pycache__/
.unused/
*.py[cod]
*.pyo

# Virtuella miljöer
.venv/
.env/

# Poetry-specifika filer
poetry.lock

# Loggfiler
logs/
*.log

# OS-specifika filer
.DS_Store
Thumbs.db

# Configuration files
config/config.json
