# Ignorera Python-cachefiler
__pycache__/
.unused/
*.py[cod]
*.pyo

# Ignorera virtuella miljöer
.venv/
.env/

# Ignorera Poetrys virtuella miljöer
.venv/

# Ignorera loggar och tillfälliga filer
*.log
*.tmp
*.swp
*.sqlite3

# Ignorera bygg- och distributionsfiler
build/
dist/
*.egg-info/

# Ignorera konfigurationsfiler med känsliga data
.env
